In [42]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time
import mplfinance as mpf

In [43]:
api_key = "QOA9MVY36JYUOL3K"

In [44]:
ts = TimeSeries(key=api_key, output_format='pandas')
data, meta_data = ts.get_intraday(symbol='BIGC', interval = '1min', outputsize = 'compact')
#data.head()

In [45]:
ts = TimeSeries(key=api_key, output_format='pandas')
data, meta_data = ts.get_intraday(symbol="NNOX", interval="60min", outputsize="full")

In [46]:
columns = {"1. open":"Open", "2. high":"High", "3. low":"Low", "4. close":"Close", "5. volume":"Volume"}

In [47]:
data.index.names = ["Date"]
data.rename(columns=columns, inplace=True)
data.tail(1)

                      Open   High     Low  Close     Volume
Date
2020-08-21 12:00:00  20.34  22.49  20.255  21.68  5358541.0

In [48]:
len(data)

284

In [49]:
data.iloc[283,:][0]

20.34

In [50]:
data[data["High"] >= 20.255 * (1.5)].iloc[-1, 1]

30.4999

In [68]:
import numpy as np
exit_date = np.datetime64(data.index[-1]).astype('datetime64[D]') + np.timedelta64(21, "D")
print(exit_date)

2020-09-11

In [58]:
data.index[-1]

Timestamp('2020-08-21 12:00:00')

In [70]:
exit_date_tomorrow = exit_date + np.timedelta64(1, "D")

In [73]:
tmp = data[data.index >= exit_date]
result = tmp[tmp.index < exit_date_tomorrow]

In [74]:
print(result)

                        Open     High      Low    Close     Volume
Date
2020-09-11 20:00:00  65.8000  66.8000  65.8000  65.8000    25019.0
2020-09-11 19:00:00  65.8500  66.1100  65.3000  65.3000    11174.0
2020-09-11 18:00:00  66.7400  66.9399  65.0600  65.4000    41388.0
2020-09-11 17:00:00  64.3800  68.3500  64.3800  66.7900   161916.0
2020-09-11 16:00:00  59.6637  66.6700  59.3201  64.2000  2205699.0
2020-09-11 15:00:00  56.3609  62.1300  56.0927  59.6200  1279476.0
2020-09-11 14:00:00  56.4000  57.0000  55.1200  56.4000   455912.0
2020-09-11 13:00:00  55.1500  57.4000  55.1300  56.3400   814762.0
2020-09-11 12:00:00  57.8000  59.2000  54.1100  55.0500  1813158.0
2020-09-11 11:00:00  51.8000  58.9400  51.4000  57.8996  1700533.0
2020-09-11 10:00:00  50.0000  53.4300  48.1800  51.7000   839726.0
2020-09-11 09:00:00  51.4299  52.0000  49.5100  49.9000    51694.0
2020-09-11 08:00:00  50.5900  52.0000  49.6800  50.0000    26702.0
2020-09-11 07:00:00  51.0700  51.0700  49.9700  50.4300     4884.0
2020-09-11 06:00:00  51.8000  51.8000  51.1500  51.7000     1510.0
2020-09-11 05:00:00  49.5000  52.0000  49.5000  52.0000     4384.0

In [57]:
print(data.index)

DatetimeIndex(['2020-09-18 20:00:00', '2020-09-18 19:00:00',
               '2020-09-18 18:00:00', '2020-09-18 17:00:00',
               '2020-09-18 16:00:00', '2020-09-18 15:00:00',
               '2020-09-18 14:00:00', '2020-09-18 13:00:00',
               '2020-09-18 12:00:00', '2020-09-18 11:00:00',
               ...
               '2020-08-24 05:00:00', '2020-08-21 20:00:00',
               '2020-08-21 19:00:00', '2020-08-21 18:00:00',
               '2020-08-21 17:00:00', '2020-08-21 16:00:00',
               '2020-08-21 15:00:00', '2020-08-21 14:00:00',
               '2020-08-21 13:00:00', '2020-08-21 12:00:00'],
              dtype='datetime64[ns]', name='Date', length=284, freq=None)

In [ ]:
print(data.index.values[0])
print(type(data.index.values[0]))

In [ ]:
from datetime import datetime
import pytz
tzny = pytz.timezone("America/New_York")
ny_raw = str(datetime.now(tzny))
ny_now = datetime.strptime(ny_raw, '%Y-%m-%d %H:%M:%S.%f-04:00')
print(ny_raw)
#print(str(ny_raw))
print(ny_now)

In [ ]:
import numpy as np
np_ny_now = np.datetime64(ny_now)
np_ny_date = np_ny_now.astype('datetime64[D]')
print(np_ny_now)
print(np_ny_date)

In [ ]:
print(np_ny_now.astype('datetime64[D]')==np_ny_date.astype('datetime64[D]'))

In [ ]:
ny_m = np_ny_now.astype("datetime64[m]")
print(ny_m)

In [ ]:
ny_raw2 = str(datetime.now(tzny))
ny_now2 = datetime.strptime(ny_raw2, '%Y-%m-%d %H:%M:%S.%f-04:00')
np_ny_now2 = np.datetime64(ny_now2)
print(np_ny_now2)

In [ ]:
print(np_ny_now2 >= ny_m)

In [ ]:
ny_8 = np_ny_date + np.timedelta64(8, 'h')
print(ny_8)

In [ ]:
print(np_ny_now2 >= ny_8)

In [ ]:
ny_8 = np_ny_date - np.timedelta64(1, 'D') + np.timedelta64(8, 'h')
print(ny_8)

In [ ]:
df = data[data.index.values >= ny_8]

In [ ]:
df.tail()

In [ ]:
ny_open = np_ny_date + np.timedelta64(9, 'h') + np.timedelta64(30, 'm')
print(ny_open)

In [ ]:
print(np_ny_now2 >= ny_open)

In [ ]:
mc = mpf.make_marketcolors(up='orangered',down='turquoise',
                           edge='inherit',
                           wick='grey',
                           volume='in',
                           ohlc='i')
s  = mpf.make_mpf_style(marketcolors=mc)
kwargs = dict(type='candle',volume=True,figratio=(11,8),figscale=2)

In [ ]:
mpf.plot(data.iloc[::-1],**kwargs, style=s)

In [ ]:
print(meta_data)

In [ ]:
i = 1
#while i==1:
#    data, meta_data = ts.get_intraday(symbol='MSFT', interval = '1min', outputsize = 'full')
#    data.to_excel("output.xlsx")
#    time.sleep(60)

In [ ]:
close_data = data['4. close']
percentage_change = close_data.pct_change()

In [ ]:
percentage_change.head()

In [ ]:
last_change = percentage_change[-1]

In [ ]:
if abs(last_change) > 0.0004:
    print("MSFT Alert:" + str(last_change))