In [5]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
import time

In [6]:
api_key = "QOA9MVY36JYUOL3K"

In [9]:
ts = TimeSeries(key=api_key, output_format='pandas')
data, meta_data = ts.get_intraday(symbol='MSFT', interval = '1min', outputsize = 'full')
data.head()

                     1. open  2. high  3. low  4. close  5. volume
date
2020-08-25 20:00:00   217.59   217.59  217.59    217.59      452.0
2020-08-25 19:57:00   217.66   217.66  217.66    217.66      405.0
2020-08-25 19:55:00   217.56   217.56  217.56    217.56      588.0
2020-08-25 19:53:00   217.65   217.81  217.57    217.57     2097.0
2020-08-25 19:50:00   218.01   218.01  218.01    218.01      961.0

In [10]:
i = 1
#while i==1:
#    data, meta_data = ts.get_intraday(symbol='MSFT', interval = '1min', outputsize = 'full')
#    data.to_excel("output.xlsx")
#    time.sleep(60)

In [11]:
close_data = data['4. close']
percentage_change = close_data.pct_change()

In [13]:
percentage_change.head()

date
2020-08-25 20:00:00         NaN
2020-08-25 19:57:00    0.000322
2020-08-25 19:55:00   -0.000459
2020-08-25 19:53:00    0.000046
2020-08-25 19:50:00    0.002022
Name: 4. close, dtype: float64

In [15]:
last_change = percentage_change[-1]

In [16]:
if abs(last_change) > 0.0004:
    print("MSFT Alert:" + str(last_change))